* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    color: #eee;
    text-decoration: none;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0.5;
        top: 90%;
        transform: scale(0.99);
    }
    100% {
        top: 100%;
        opacity: 1;
        transform: scale(1);
    }
}

.fadeInFromTop {
    animation: 0.3s fadeInFromTop ease-in-out forwards;
}

.boldNavItems {
    font-weight: 600;
}

.blankLinks {
    margin: 0 0 20px 0;
    opacity: 0.8;
    font-size: 0.8em;
    color: #201f24;
    font-weight: 600;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgb(36, 41, 46);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav > .navWrapper {
    /* min-width: 1250px; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navWrapper > .leftNavDiv {
    display: flex;
    align-items: center;
}

.leftNavDiv > svg {
    margin-right: 20px;
}

.leftNavDiv * {
    margin-right: 10px;
}

.leftNavDiv > ul {
    display: flex;
}

.leftNavDiv > ul > div {
    position: relative;
    height: 50px;
}

.leftNavDiv > ul > div > a {
    height: 100%;
    display: flex;
    align-items: center;
}
.leftNavDiv > ul > div > span {
    height: 100%;
    display: flex;
    align-items: center;
}

.leftNavDiv > ul > div > .dropdownMenu {
    position: absolute;
    background-color: #fff;
    padding: 1.5em;
    top: 100%;
    left: -20%;
    width: 300px;
    height: max-content;
    border-radius: 3px;
    display: none;
    transform-origin: top;
}

.dropdownMenu > ul {
    margin: 0;
}

.dropdownMenu > ul > a {
    color: #201f24;
    display: block;
    margin-bottom: 1em;
    font-size: 0.8em;
    margin-right: 0;
    height: 25px;
    transition: 0.4s ease-in-out;
}

.dropdownMenu > ul > a:hover {
    color: blue;
}

.navWrapper .fadeHoverLinks {
    transition: 0.4s ease-in-out;
}

.navWrapper .fadeHoverLinks:hover {
    opacity: 0.5;
    cursor: pointer;
}

.rightNavDiv * {
    margin-left: 20px;
}

.rightNavDiv > input {
    height: 40px;
    width: 300px;
    min-width: 250px;
    background-color: #2b3137;
    padding: 0 1em;
    font-weight: 600;
    border-radius: 4px;
}

.rightNavDiv > .navSignup {
    border: 1px solid #eee;
    padding: 0.5em 1em;
    border-radius: 4px;
}

.contentWrapper {
    width: 100%;
    height: 90vh;
    padding: 0 5em;
    display: flex;
    align-items: center;
    background-color: #2b3137;
    /* background-color: #201f24; */
    background-image: url(http://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
}

.contentWrapper > .content {
    width: 40%;
    height: max-content;
}

.content > h3 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.content > p {
    opacity: 0.6;
    z-index: 0;
}

.content > .loginBtn {
    height: 55px;
    width: max-content;
    color: #333;
    background-color: lightgreen;
    text-align: center;
    line-height: 55px;
    padding: 0 4em;
    margin-top: 20px;
    display: none;
}

.contentWrapper > form {
    width: 30%;
    height: max-content;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

form > h1 {
    color: #333;
    margin-bottom: 20px;
}

form > input {
    margin-bottom: 20px;
    border: 0.1px solid #333;
    background: #eee;
    color: #333;
    height: 55px;
    padding: 0 1em;
}

form > button {
    height: 55px;
    border: none;
    background: #201f24;
}

@media screen and (max-width: 1200px) {
    .navWrapper {
        width: 97% !important;
        /* margin: 0 auto; */
    }

    .contentWrapper {
        padding: 0;
    }
    .contentWrapper > form {
        width: 45%;
    }
}

@media screen and (max-width: 730px) {
    .contentWrapper {
        padding: 0;
    }
    .contentWrapper > form {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: max-content;
        flex-direction: column;
    }

    .contentWrapper > .content {
        width: 80%;
    }

    .content > .loginBtn {
        display: block;
    }
}
