.carousel-slide
{
	height: 400px;
	width: 400px;
}
.carousel-item>img
{
	height: 500px;
	width: 500px;

}
.card:hover
{
	box-shadow : 8px 8px 4px;
	transition :0.5s;
}
	
.fontawe
{
	font-size: 30px;
	padding: 0px 80px;
}
.ceo
{
	box-shadow:5px 5px 5px;
}
.ceo:hover
{
	box-shadow:10px 10px 5px;
	transition:0.7s;
}
.usefullinks
{
	text-decoration: none;
}
.pac1
{
height: 150px;
 width: 150px;
 position: absolute;
 top: 20px;
}
.pac2
{
height: 150px;
 width: 150px;
 position: absolute;
 top: 40px;
 left: 30px;
}
.pac3
{
height: 150px;
 width: 150px;
 position: absolute;
  top: 60px;
 left: 50px;
}
.pac1:hover
{
margin-left:240px; 
transition:5s;
}
.pac2:hover
{
margin-left:  240px;
transition:5s;
}

.pac3:hover
{
 
margin-left:140px;
transition:5s;

}

a
{
	text-decoration: none;
}
.head:hover
{
	color: green;
	transition:0.4s;
}
.head2:hover
{
	color: red;
	transition:0.6s;
}
#fa
{
 font-size: 100px;
}
.au
{
	color: white;
	text-align: center;
	top: 5px;
}